@import "vars"
@import "fonts"
@import "partials/fast-grid/fast-grid"
@import "partials/normalize.css"
@import "partials/font-awesome/font-awesome.scss"
@import "partials/magnific-popup.css"
@import "partials/slick.css"
@import "partials/jquery.formstyler.css"
@import "partials/nouislider.min.css"

::placeholder
  color: #666

::selection
  background-color: $accent_color
  color: #fff

html
  font-size: 16px

body
  font-size: 16px
  font-weight: 400
  min-width: 320px
  position: relative
  font-family: $default-font
  overflow-x: hidden
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto
  &.img-width
    width: 100%

.text-center
  text-align: center

b, strong
  font-weight: bold

img
  max-width: 100%

.container
  @include grid-container(xs sm md lg xl)

.bg_overlay
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  background: rgba(0, 0, 0, 0.7)
  z-index: 15

a
  i
    transition: 0.2s
  &:hover
    i
      color: $accent_color

header
  position: relative

.top_head
  display: flex
  justify-content: space-between
  border-bottom: 3px solid rgba(0, 0, 0, 0.06)
  padding-bottom: 16px
  &.active
    position: relative
    .mobile_menu
      display: block
      width: 320px
      position: absolute
      top: 17px
      right: -15px
      border-radius: 0.625rem
      border: 0.128rem solid #d6af48
      background-color: #fff
      z-index: 16
      i
        color: #5b5b5b
        font-size: 1.875rem
        line-height: 36px
        position: absolute
        top: 13px
        right: 12px
      nav
        display: block
        margin: 0 0 0 20px
        ul
          display: block
      .search_wrap
        position: relative
        margin-top: 25px
        padding-bottom: 40px
        .input_wrap
          position: unset
          width: 275px
          height: 49px
          max-width: 100%
          margin: 0 auto
          input
            padding-left: 50px
        .input_wrap input[type="submit"], .input_wrap button, .input_wrap i
          top: 6px
          left: 35px
          color: #aaa
      .log_reg_block
        display: flex
        justify-content: space-around
        padding: 0 20px
        a
          color: #d6af48
          font-size: 1rem
          line-height: 24px
          text-transform: uppercase
          width: auto
          margin: 0
  .mobile_menu
    display: none
  .logo
    padding-left: 13px
    margin-top: 20px
  .burger
    display: none
    margin-top: 35px
    i
      color: #5b5b5b
      font-size: 1.875rem
      line-height: 36px
  nav
    text-transform: uppercase
    color: rgba(0, 0, 0, 0.79)
    font-size: 0.938rem
    font-weight: 500
    line-height: 3.75rem
    margin-top: 27px
    margin-left: 52px
  nav > ul
    display: flex
  nav > ul > li
    margin-right: 47px
    &:last-child
      margin-right: 0
    &:hover
      a
        &:after
          opacity: 1
      ul
        opacity: 1
        bottom: 0
      .bottom_head
        background-color: #faf2f6
      &:after
        content: ''
        display: block
        background: transparent
        width: 100%
        height: 50px
        position: absolute
        bottom: 28px
        left: 0
  nav > ul > li > a
    position: relative
    &:after
      content: ''
      display: block
      width: 100%
      height: 2px
      background-color: $accent_color
      position: absolute
      top: 27px
      left: 0
      opacity: 0
      transition: 0.2s
  nav > ul > li > ul
    position: absolute
    left: 0
    right: 0
    bottom: 9999px
    opacity: 0
    width: 100%
    max-width: 1470px
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    color: #4c4c4c
    font-size: 0.938rem
    font-weight: 500
    line-height: 32px
    text-transform: uppercase
    transition: 0.2s opacity linear
    z-index: 1
  nav > ul > li > ul > li
    &:first-child
      a:before
        display: none
  nav > ul > li > ul > li > a
    position: relative
    display: block
    transition: 0.2s
    &:before
      content: ''
      display: block
      width: 2px
      height: 24px
      background-color: #989898
      position: absolute
      top: 4px
      left: -17px
    &:hover
      color: $accent_color
  .top_head_left
    display: flex
  .log_reg_block
    margin-top: 27px
    margin-right: 35px
    color: $accent_color
    font-size: 1rem
    line-height: 1.5rem
    text-transform: uppercase
    a
      width: 92px
      display: block
      text-align: center
      border-radius: 0.625rem
      border: 0.125rem solid transparent
      background-color: #fff
      letter-spacing: 0.1px
      margin: 0 auto
      transition: 0.2s
      &:last-child
        width: 156px
        margin-top: 14px
      &:hover
        border-color: $accent_color
        color: #5b5b5b
  .social_block
    display: flex
    margin-top: 25px
    li
      margin-left: 15px
      &:first-child
        margin-left: 0
    .fa
      color: #8c8c8c
      font-size: 1.125rem
      line-height: 3.75rem
      text-transform: uppercase
      letter-spacing: 0.006rem
      &:hover
        color: $accent_color

.bottom_head
  height: 32px
  margin-top: -7px
  margin-left: -30px
  margin-right: -15px
  transition: 0.2s
  .search_wrap
    position: relative
    z-index: 5

.input_wrap
  border-radius: 1.438rem
  border: 0.125rem solid $accent_color
  background-color: #fefbf0
  width: 320px
  height: 45px
  position: absolute
  top: 35px
  right: 0
  input
    border: none
    background: transparent
    padding: 0 5px 0 73px
    width: 100%
    height: 100%
    font-size: 1.563rem
    font-weight: 400
    &::placeholder
      color: #a8a8a8
      font-family: Montserrat
      font-size: 1.563rem
      font-weight: 400
  i
    font-size: 2.063rem
    color: #a8a8a8
  input[type="submit"], button
    opacity: 0
    padding: 0
  input[type="submit"], button, i
    width: 33px
    height: 33px
    position: absolute
    top: 3px
    left: 25px
    cursor: pointer

.button
  color: #9e759c
  font-size: 0.875rem
  line-height: 2.4rem
  border-radius: 1.25rem
  border: 0.063rem solid #fff
  background-color: #fff
  text-align: center
  width: 208px
  padding: 0 0 0
  margin: 0 auto
  display: block

.main_slider
  position: relative
  .slick-dots
    position: absolute
    left: 50px
    top: 50%
    transform: translateY(-50%)
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    li
      width: 11px
      height: 11px
      border-radius: 50%
      margin-bottom: 19px
      background-color: #fff
      opacity: 0.3
      &:last-child
        margin-bottom: 0
      &.slick-active
        width: 13px
        height: 13px
        box-shadow: 0 0 0.438rem 0.063rem rgba(0, 0, 0, 0.07)
        background-color: #fff
        opacity: 0.77
      button
        width: 11px
        height: 11px
        border-radius: 50%
        opacity: 0

.main_slider_item
  display: block
  height: 644px
  text-align: center
  position: relative
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  &:after
    content: ''
    width: 100%
    height: 100%
    background-image: radial-gradient(circle 680px at center, rgba(239, 206, 221, 0.61) 0%, rgba(211, 122, 158, 0.61) 100%)
    position: absolute
    top: 0
    left: 0
  .button
    margin-top: 50px
    position: relative
    z-index: 1
    transition: 0.2s
    &:hover
      background: transparent
      color: #fff
  .main_slider_item_head
    color: #fff
    font-family: "MuseoSansCyrl"
    font-size: 1.313rem
    font-weight: 900
    line-height: 3.748rem
    text-transform: uppercase
    letter-spacing: 1.268rem
    margin-top: 7px
    position: relative
    z-index: 1
  .main_slider_item_body
    color: #fff
    font-family: "Winchester"
    font-size: 5.313rem
    line-height: 3.748rem
    letter-spacing: 0.026rem
    margin-top: 191px
  .slide_bg_img
    max-width: 100%
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 0
    right: 0
    margin: 0 auto
    z-index: 1
  .offer_block
    position: relative
    z-index: 2

.basket_fav_block
  position: fixed
  top: 50%
  right: 50px
  transform: translateY(-50%)
  z-index: 9

.circle_btn
  display: flex
  justify-content: center
  align-items: center
  width: 71px
  height: 71px
  border-radius: 50%
  border: 0.125rem solid $accent_color
  background-color: #fefbf0
  margin-top: 18px
  &:first-child
    margin-top: 0
  i
    color: #595959
    font-size: 1.5rem
  .quantity_circle
    display: block
    width: 16px
    height: 16px
    border-radius: 50%
    background-color: #d44539
    color: #fff
    font-family: "VantaLightPlain"
    font-size: 0.563rem
    line-height: 0.563rem
    padding-top: 4px
    text-align: center
    font-weight: 400
    position: absolute
    top: 0
    right: 5px

.to_top
  position: fixed
  bottom: 50px
  right: 50px
  cursor: pointer
  z-index: 9
  i
    transition: 0.2s
  &:hover
    i
      color: $accent_color

.main_shop
  padding: 85px 0 60px
  .container
    max-width: 1060px
  .main_shop_head
    .sidebar_trigger
      display: none
  h1
    text-align: center
    color: rgba(0, 0, 0, 0.79)
    font-size: 1.875rem
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 0.938rem
  .main_shop_subhead
    text-align: center
    color: rgba(0, 0, 0, 0.56)
    font-size: 0.75rem
    line-height: 1.126rem
    margin: 24px auto 0
    max-width: 1005px
  .jq-selectbox
    margin-top: 88px
    margin-left: 7px
  .shop_buy_btn
    margin-top: 10px

.main_shop_block
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-top: 47px
  position: relative
  .main_shop_item_wrap
    height: 372px
    position: relative
    margin-bottom: 10px
    border-bottom: 2px solid rgba(0, 0, 0, 0.06)
    &:nth-child(4n)
      .main_shop_item:after
        display: none
    &:last-child, &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4)
      border-bottom: none
  .main_shop_item
    position: relative
    width: 256px
    height: 362px
    padding-bottom: 30px
    text-align: center
    border-radius: 0.313rem
    border: 0.063rem solid transparent
    background-color: #fff
    transition: 0.2s transform linear
    &:after
      content: ''
      display: block
      background: rgba(0, 0, 0, 0.06)
      width: 2px
      height: 100%
      position: absolute
      top: 0
      right: 0
    &:hover
      border-color: #000
      height: 444px
      transform: scale(1.06)
      z-index: 2
      .hidden_block
        visibility: visible
    .hidden_block
      visibility: hidden
    .fav_btn_block
      width: 25px
      height: 21px
      position: absolute
      top: 22px
      left: 13px
      z-index: 1
      .jq-checkbox
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 1
        &.checked
          i
            color: $accent_color
      input
        display: block
        width: 100%
        height: 100%
        opacity: 0
      i
        color: #888
        font-size: 1.5rem
        position: absolute
        top: 0
        left: 1px
        cursor: pointer
        z-index: 0
  .main_shop_item_head
    color: #2f2f2f
    font-size: 0.75rem
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 0.074rem
    display: block
    margin-top: 0
    transition: 0.2s
    &:hover
      color: $accent_color
  .main_shop_item_price
    color: #a49359
    font-weight: 300
    font-size: 1.25rem
    text-transform: uppercase
    margin-top: 17px
    span
      font-weight: 500
  .buy_btn
    margin-top: 20px
  .img_block
    height: 257px
    display: flex
    align-items: center
    justify-content: center
    img
      max-height: 253px
  .color_block
    margin-top: 16px
    .jq-radio
      margin-right: 8px
      &:last-child
        margin-right: 0

.jq-radio
  width: 16px
  height: 16px
  border-radius: 50%
  position: relative
  overflow: visible
  background-color: #f3eee2
  cursor: pointer
  &:before
    content: ''
    display: block
    width: 3px
    height: 3px
    border-radius: 50%
    background-color: #a49359
    position: absolute
    top: 7px
    left: 7px
    opacity: 0
  &:after
    content: ''
    display: block
    width: 22px
    height: 22px
    border: 1px solid #a49359
    border-radius: 50%
    position: absolute
    top: -4px
    left: -4px
    opacity: 0
  input
    width: 100%
    height: 100%
    border-radius: 50%
    position: absolute
    top: 0
    left: 0
  &.checked
    border-color: #a49359
    &:before, &:after
      opacity: 1

.buy_btn
  display: block
  border-radius: 1rem
  border: 1px solid $accent_color
  background-color: $accent_color
  width: 114px
  padding: 7px 0
  margin: 0 auto
  color: #fff
  font-size: 0.625rem
  font-weight: 400
  line-height: 0.87rem
  text-transform: uppercase
  letter-spacing: 0.3rem
  text-align: center
  transition: 0.2s
  &:hover
    background: transparent
    color: $accent_color
    box-shadow: none
.shop_buy_btn
  width: 190px
  padding: 9px 0 7px
  box-shadow: 0 0.125rem 0.813rem rgba(0, 0, 0, 0.15)
  border: 0.063rem solid $accent_color
  border-radius: 1rem
  color: #000
  background-color: #fff
  font-size: 0.625rem
  line-height: 0.87rem
  letter-spacing: 0.12rem

.jq-selectbox
  border-radius: 1rem
  border: 0.063rem solid #e2e2e2
  background-color: #fff
  width: 198px
  color: rgba(0, 0, 0, 0.56)
  font-size: 0.75rem
  font-weight: 300
  cursor: pointer
  &.opened
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    border-bottom: none
    .jq-selectbox__trigger-arrow
      transform: rotate(180deg)
      top: 11px
  .jq-selectbox__select-text
    padding: 8px 17px 10px
    position: relative
  .jq-selectbox__trigger-arrow
    border: 3px solid transparent
    border-top: 3px solid #2f2f2f
    width: 3px
    position: absolute
    top: 14px
    right: 17px
  .jq-selectbox__dropdown
    width: 100%
    left: -1px
    ul
      padding: 0 0 5px
      border-radius: 1rem
      border-top-left-radius: 0
      border-top-right-radius: 0
      border: 0.063rem solid #e2e2e2
      border-top: none
      background-color: #fff
      width: calc(100% + 2px)
      li
        padding: 5px 17px 7px

.main_offers
  .main_offers_wrap
    border-top: 3px solid rgba(0, 0, 0, 0.06)
    padding: 26px 0
  .main_offers_block
    max-width: 1270px
    margin: 0 auto
    height: 341px
    display: flex
    justify-content: space-between
  .main_offers_block_left
    max-width: 620px
    width: 100%
    height: 100%
    position: relative
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    display: flex
    align-items: flex-end
    justify-content: flex-end
    border-radius: 0.188rem
    &:after
      content: ''
      display: block
      background: url("../img/main-offers-1-overlay.png") no-repeat left bottom/contain
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
    .descr_block
      color: #fff
      font-size: 1rem
      font-weight: 500
      line-height: 1.5rem
      letter-spacing: 0.03rem
      position: relative
      z-index: 1
      padding-right: 28px
    .descr_block_info
      margin-top: 8px
      padding-bottom: 28px
      font-size: 0.75rem
      font-weight: 400
      line-height: 1.254rem
      text-transform: uppercase
      display: flex
      align-items: center
      justify-content: flex-end
      li
        margin-right: 31px
        display: flex
        align-items: center
        img
          margin-right: 9px
        &:last-child
          margin-right: 0
  .main_offers_block_center
    max-width: 260px
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
  .main_offers_block_item
    border-radius: 0.188rem
    background-color: $accent_color
    height: 164px
    padding: 28px 28px 23px
    display: flex
    flex-direction: column
    justify-content: space-between
    .img_wrap
      display: flex
      align-items: flex-end
      justify-content: flex-end
    img
      display: block
    &:last-child
      text-align: right
      .img_wrap
        align-items: flex-start
        justify-content: flex-start
  .main_offers_block_item_head
    color: #fff
    font-size: 1.25rem
    font-weight: 300
    line-height: 1.5rem
    letter-spacing: 0.5rem
    b
      display: block
      font-weight: 600
  .main_offers_block_right
    max-width: 360px
    width: 100%
    height: 100%
    color: #fff
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    text-align: center
    position: relative
    background-repeat: no-repeat
    background-size: auto
    background-position: center center
    border-radius: 0.188rem
    &:after
      content: ''
      display: block
      background: url("../img/main-offers-2-overlay.png") no-repeat left bottom/contain
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
  .main_offers_block_right_head
    position: absolute
    top: 60px
    font-family: "MuseoSansCyrl"
    font-size: 1.25rem
    font-weight: 900
    line-height: 24px
    text-transform: uppercase
    letter-spacing: 0.5rem
    z-index: 1
  .main_offers_block_right_body
    position: relative
    z-index: 1
    font-family: "Eufoniem Two"
    font-size: 3.125rem
    font-weight: 400
    line-height: 24px
    letter-spacing: 1.25rem

.footer_top
  padding: 28px 0 3px
  color: rgba(0, 0, 0, 0.56)
  font-size: 0.938rem
  font-weight: 500
  line-height: 59.84px
  text-transform: uppercase
  border-bottom: 3px solid rgba(0, 0, 0, 0.06)
  ul
    display: flex
    align-items: center
    justify-content: space-around
    li a
      position: relative
      &:after
        content: ''
        display: block
        width: 100%
        height: 2px
        background-color: $accent_color
        position: absolute
        top: 27px
        left: 0
        opacity: 0
        transition: 0.2s
      &:hover
        &:after
          opacity: 1

.footer_center
  padding: 5px 0
  color: rgba(0, 0, 0, 0.56)
  font-size: 1.875rem
  line-height: 59.88px
  border-bottom: 3px solid rgba(0, 0, 0, 0.06)
  ul
    display: flex
    align-items: center
    justify-content: center
    li
      margin-right: 218px
      &:last-child
        margin-right: 0

.footer_bottom
  color: #b8b8b8
  font-size: 0.625rem
  text-transform: uppercase
  letter-spacing: 0.125rem
  text-align: center
  padding: 42px 0 38px

.not_main_wrap
  display: flex
  justify-content: center
  position: relative

aside
  max-width: 440px
  min-width: 280px
  width: 100%
  min-height: 100vh
  text-align: center
  background-color: #faf2f5
  position: relative
  transition: 0.2s position linear
  &.active
    display: block
    position: fixed
    top: 0
    left: 0
    z-index: 11
    .aside_wrap
      overflow-y: scroll
      position: absolute
      width: 100%
      left: 0
      max-height: 100vh
  .logo
    margin-top: 18px
    display: block
  .back_btn, .sidebar_heading
    color: #000
    font-size: 1.5rem
    font-weight: 500
    line-height: 3.75rem
    display: block
    margin-top: 121px
    transition: 0.2s
  .aside_container
    .sidebar_heading
      &:first-child
        margin-top: 0
  .back_btn
    &:hover
      color: $accent_color

.aside_before
  height: 100%
  background-color: #faf2f5
  position: absolute
  top: 0
  left: 0

.mobile_heading
  display: none
  color: #000
  font-size: 1.5rem
  font-weight: 500
  line-height: 3.75rem

.content_wrap
  margin-left: 15px
  width: 1131px
  .container
    max-width: 1131px
  .top_head
    .log_reg_block
      display: none
    nav
      margin-left: 151px
    nav > ul > li:hover:after
      height: 16px
    nav > ul > li > ul
      max-width: 1101px
      font-size: 0.75rem
    nav > ul > li > ul > li > a:before
      height: 19px
      top: 6px
      left: -7px
  .top_head
    .logo
      display: none
  .bottom_head
    margin-top: -25px
    .input_wrap
      top: 41px

.checkout_btn
  display: block
  border-radius: 1.563rem
  border: 0.125rem solid #e6e6e6
  background-color: $accent_color
  width: 245px
  padding: 4px 0 6px
  color: #fff
  font-size: 1.125rem
  line-height: 36px
  text-align: center
  transition: 0.2s
  &:hover
    background-color: #fff
    border-color: $accent_color
    color: #000

.jq-number
  border-radius: 0.625rem
  border: 0.063rem solid $accent_color
  color: #2f2f2f
  font-size: 0.75rem
  letter-spacing: 0.075rem
  padding: 0 0 0
  width: 60px
  position: relative
  input
    border: none
    width: 15px
    border-radius: 0.625rem
    text-align: center
    margin-right: 2px
  .jq-number__field
    display: flex
    align-items: center
    justify-content: center
  .jq-number__spin
    position: absolute
    right: -20px
    color: #000
    font-size: 1rem
    line-height: 0.625rem
    height: 7px
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    i
      transition: 0.2s
    &:hover
      i
        color: $accent_color
    &.plus
      top: -2px
    &.minus
      bottom: -2px

.one_product
  padding-bottom: 52px
  margin-top: 92px
  .one_product_wrap
    display: flex
  .img_wrap
    width: 422px
  .one_product_details
    margin-left: 25px
    width: 59%
  h1
    color: #2f2f2f
    font-size: 1.125rem
    font-weight: 600
    line-height: 1.875rem
    text-transform: uppercase
  .one_product_details_item
    font-size: 1.125rem
    font-weight: 500
    color: #2f2f2f
    margin-top: 26px
    span
      color: $accent_color
      a
        &:hover
          text-decoration: underline
    .jq-number__field
      span
        color: #000
  .checkout_btn
    margin-top: 41px
  .one_product_descr
    color: #000
    font-size: 1rem
    font-weight: 300
    line-height: 24px
    letter-spacing: 0.1rem
    padding: 35px 0 0
    p
      padding-top: 5px

.watched
  padding: 33px 20px 73px
  border-top: 3px solid rgba(0, 0, 0, 0.06)
  h2
    color: $accent_color
    font-size: 1.5rem
    font-weight: 400
    letter-spacing: 0.15rem
    text-align: center
  .watched_slider
    position: relative
    .slick-list
      margin: 0 -20px
    .slick-track
      padding: 48px 0
    .slick-arrow
      color: $accent_color
      font-size: 2.25rem
      position: absolute
      top: 50%
      transform: translateY(-50%)
      z-index: 1
      cursor: pointer
      &.back
        left: -35px
      &.fwd
        right: -35px
  .watched_slider_item
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.18)
    border-radius: 0.625rem
    background-color: #fff
    text-align: center
    display: block
    margin: 0 25px
    .product_img
      margin: 12px 12px 0
      border-radius: 0.625rem
      background-color: #fff
      overflow: hidden
      display: block
      height: 208px
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
    .serial
      color: #000
      font-size: 1.125rem
      letter-spacing: 0.113rem
      display: block
      margin-top: 8px
    .product_title
      color: #000
      font-size: 1rem
      letter-spacing: 0.1rem
      display: flex
      align-items: center
      justify-content: center
      margin-top: 11px
      height: 40px
      padding: 0 10px
    .price
      color: $accent_color
      font-size: 1.5rem
      letter-spacing: 0.15rem
      display: block
      margin-top: 9px
      padding-bottom: 9px

/** Стили для попап окна **/
.popup_window
  position: relative
  border-radius: 0.625rem
  border: 0.313rem solid #cbad51
  background-color: #fff
  max-width: 810px
  width: 100%
  margin: 0 auto
  .popup_head
    color: #000
    font-size: 1.5rem
    line-height: 60px
    text-transform: uppercase
    text-align: center
    margin-top: 20px
  form
    padding: 0 15px
    .input_wrap
      position: relative
      margin: 30px auto 0
      max-width: 100%
      width: 417px
      height: auto
      background: transparent
      border: none
      border-radius: 0
      border-bottom: 1px solid #c2c2c2
      &:first-child
        margin-top: 0
      input
        padding: 5px
        color: #000
        font-size: 1rem
        line-height: 16px
        letter-spacing: 0.005rem
        &::placeholder
          opacity: 0.7
          color: #000
          font-size: 1rem
          line-height: 16px
          letter-spacing: 0.005rem
      label.error
        color: red
        position: absolute
        top: 30px
        left: 6px
        font-size: 0.7rem
        width: 100%
    .button
      background-color: #cbad51
      border-radius: 0.625rem
      border: 0.125rem solid #cbad51
      color: #fff
      font-size: 1.125rem
      letter-spacing: 0.006rem
      width: auto
      padding: 4px 37px
      line-height: 1.5rem
      margin: 70px auto 30px
      transition: 0.2s
      &:hover
        background-color: #fff
        color: #000

.form
  .form_head
    color: #000
    font-size: 1.125rem
    font-weight: 500
    line-height: 24px
    text-align: center
    margin-top: 75px
  .jq-selectbox
    margin: 0 auto
    max-width: 100%
    width: 417px
    height: auto
    background: transparent
    border: none
    border-radius: 0
    border-bottom: 1px solid #cbad51
    position: relative
    .jq-selectbox__select-text
      padding: 3px 28px 3px 5px
      color: #4f4f4f
      font-size: 1.125rem
      font-weight: 500
      line-height: 23.99px
    .jq-selectbox__dropdown
      left: 0
      right: 0
      ul
        border: 0.188rem solid #cbad51
        border-radius: 0
        background-color: #fff
        padding: 0
        li
          color: #4f4f4f
          font-size: 1rem
          font-weight: 400
          line-height: 23.99px
          border-bottom: 1px solid #cbad51
          text-overflow: ellipsis
          overflow: hidden
          &:first-child
            display: none
          &:last-child
            border-bottom: none
    .jq-selectbox__trigger
      border: 6px solid transparent
      border-top: 6px solid #2f2f2f
      width: 6px
      position: absolute
      top: 14px
      right: 17px
    .jq-selectbox__trigger-arrow
      border: 5px solid transparent
      border-top: 5px solid #fff
      width: 3px
      position: absolute
      top: -6px
      right: -5px
    &.opened
      .jq-selectbox__trigger
        transform: rotate(180deg)
        top: 7px
      .jq-selectbox__trigger-arrow
        transform: rotate(0)

  form
    display: flex
    justify-content: center
    margin-top: 55px
    .form_col
      max-width: 390px
      width: 100%
      margin-right: 100px
      &:last-child
        margin-right: 0
    .input_wrap
      top: 0
      position: relative
      margin: 25px auto 0
      max-width: 417px
      width: 100%
      height: auto
      background: transparent
      border: none
      border-radius: 0
      border-bottom: 1px solid #cbad51
      label.error
        color: red
        font-size: 0.7rem
        position: absolute
        bottom: -13px
        left: 1px
      &:first-child
        margin-top: 0
      input, textarea
        padding: 5px
        color: #000
        font-size: 1rem
        line-height: 16px
        letter-spacing: 0.005rem
        border: none
        width: 100%
        height: 29px
        resize: none
        &::placeholder
          opacity: 0.7
          color: #000
          font-size: 1rem
          line-height: 16px
          letter-spacing: 0.005rem
      textarea
        height: 22px
        padding: 0 5px
        overflow-y: hidden
    //&::placeholder
    //  color: #4f4f4f
    //  font-size: 1.125rem
    //  font-weight: 500
    //  line-height: 23.99px
    .btn
      width: 238px
      border: 0.063rem solid #cbad51
      background-color: #fff
      color: #4f4f4f
      font-size: 1.125rem
      font-weight: 500
      line-height: 23.99px
      padding: 10px 0
      margin: 40px auto 0
      display: block
      transition: 0.2s
      &:hover
        background-color: #cbad51
        color: #fff

.buisnes
  color: #000
  font-size: 1.125rem
  font-weight: 400
  line-height: 24px
  text-align: center
  margin-top: 101px
  padding: 0 50px 49px
  p
    margin-top: 24px

.your_order
  border-top: none
  padding-top: 88px

.form_order
  margin-top: 101px
  form
    display: block
    .checkout_btn
      margin: 55px auto 0
      cursor: pointer
    .form_wrap
      display: flex
      justify-content: center
      textarea
        &::placeholder
          opacity: 0.7
          color: #000
          font-family: $default-font
          font-size: 1rem
          line-height: 16px
          letter-spacing: 0.005rem
  .order_summury
    box-shadow: 0 0.063rem 1.125rem rgba(0, 0, 0, 0.1)
    border-radius: 0.625rem
    background-color: #fff
    width: 286px
    margin: 80px 0
    padding: 5px 0 0 27px
    font-size: 1.125rem
    line-height: 23.97px
    font-weight: 500
    .order_summury_products, .order_summury_delivery
      margin-top: 15px
      span
        font-weight: 300
    .order_summury_sum
      margin-top: 15px
      span
        font-size: 1.5rem

.news
  padding: 0 30px 72px
  .news_wrap
    margin-top: 88px
  .news_item
    display: flex
    margin-top: 55px
    &:nth-child(2n)
      .news_img
        order: 1
    .news_img
      width: 40%
      display: flex
      justify-content: center
      align-items: center
    .news_body
      width: 60%
      color: #000
      font-size: 0.938rem
      line-height: 36px
      b
        font-weight: 500
      .news_head
        color: #cbad51
        text-transform: uppercase
        font-weight: 500
        a
          &:hover
            text-decoration: underline
        span
          color: #000
          margin-right: 15px
          font-weight: 300

.basket_body
  .one_product_wrap
    margin-top: 55px
    &:first-child
      margin-top: 0
    .img_wrap
      width: 332px
      display: flex
      align-items: center
      justify-content: center
    .basket_delete
      color: #000
      font-weight: 300
      font-size: 0.75rem
      letter-spacing: 0.075rem
      margin-left: 60px
      cursor: pointer
  .order_block
    border-top: 3px solid rgba(0, 0, 0, 0.06)
    display: flex
    justify-content: space-between
    margin-top: 49px
    .coupon
      .input_wrap
        position: unset
        width: 335px
        max-width: 100%
        height: 50px
        margin-top: 44px
        background: #fff
        input
          padding: 0 16px
          color: #2f2f2f
          font-size: 1.125rem
          &::placeholder
            opacity: 0.5
            color: #2f2f2f
            font-family: Montserrat
            font-size: 1.125rem
            font-weight: 400
    .checkout_block
      width: 245px
      color: #000
      line-height: 36px
      margin-top: 30px
      .checkout_block_head
        padding-left: 60px
        font-size: 1.125rem
      .checkout_block_sum
        padding-left: 60px
        font-size: 1.5rem
        font-weight: 500
      .checkout_btn
        margin-top: 25px

.favourites_section
  padding: 75px 0 39px
  h1
    max-width: 350px
    margin: 0 auto 0
    letter-spacing: 3px
    line-height: 48px
  .main_shop_block
    .main_shop_item
      width: 245px
    .main_shop_item_wrap
      &:last-child, &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4)
        border-bottom: 2px solid rgba(0, 0, 0, 0.06)

.aside_filters
  max-width: 230px
  margin: 82px auto 0
  text-align: left
  .aside_heading
    color: #2f2f2f
    font-family: "VantaLightPlain"
    font-size: 1rem
    text-transform: uppercase
    letter-spacing: 0.2rem
    padding-left: 28px
  .accordion
    margin-top: 31px
  .accordion_header
    color: #2f2f2f
    font-size: 0.813rem
    letter-spacing: 0.081rem
    position: relative
    margin-top: 28px
    padding-left: 43px
    cursor: pointer
    &:before
      content: ''
      display: block
      border: 3px solid transparent
      border-top: 3px solid #000
      position: absolute
      top: 6px
      left: 30px
  .accordion_body
    color: #898989
    font-family: "MuseoSansCyrl"
    font-size: 0.813rem
    font-weight: 100
    line-height: 30px
    margin-top: 19px
    padding-left: 45px
    padding-bottom: 31px
    position: relative
    &:after
      content: ''
      display: block
      width: 100%
      height: 1px
      background-color: #e0e2e5
      position: absolute
      bottom: 0
      left: 0
    &:last-child
      &:after
        display: none
    li
      label
        margin-left: 6px
        cursor: pointer
    &.colored_filter
      display: flex
      flex-wrap: wrap
      align-items: center
      padding-right: 30px
      li
        width: 15px
        height: 15px
        border-radius: 50%
        border: 2px solid transparent
        margin-right: 14px
        margin-bottom: 14px
        cursor: pointer
        position: relative
        &:last-child
          margin-right: 0
        &.checked
          border-color: $accent_color
        input
          width: 15px
          height: 15px
          border-radius: 50%
          opacity: 0
          cursor: pointer
          position: absolute
          top: 0
          left: 0
    .input_block
      display: flex
      justify-content: space-between
      align-items: center
      margin-top: 10px
      input
        width: 40px
        height: 23px
        border-radius: 0.125rem
        background-color: #fff
        border: none
        color: #898989
        font-size: 0.688rem
        font-weight: 400
        line-height: 18px
        text-align: center
  .jq-checkbox
    width: 10px
    height: 10px
    border: 0.063rem solid #c1c1c1
    background-color: #fff
    cursor: pointer
    &.checked
      background-color: #a49359
      border-color: #a49359
    .jq-checkbox__div
      width: 6px
      height: 4px
      margin: 4px 0 0 4px
      border-bottom: 1px solid #fff
      border-left: 1px solid #fff
      transform: rotate(-50deg)
      position: absolute
      top: -3px
      left: -3px
  .btn_filter_more
    border-radius: 0.5rem
    background-color: #fff
    width: 34px
    height: 17px
    cursor: pointer
    margin-top: 10px
    font-size: 2rem
    line-height: 0px
    text-align: center
    color: #a49359


.hidden_checkbox
  display: none

html:not([dir=rtl]) .noUi-horizontal .noUi-origin
  right: 8px
.noUi-target
  width: 100%
  height: 2px
  background-color: #bdbfc1
  position: relative
  border: none
  &:before, &:after
    content: ''
    width: 4px
    height: 4px
    background-color: #bdbfc1
    border-radius: 50%
    position: absolute
    top: -1px
  &:before
    left: -1px
  &:after
    right: -1px
  .noUi-connect
    background: #2f2f2f
  .noUi-handle
    top: -7px
    width: 16px
    height: 16px
    border-radius: 50%
    border: 2px solid #fff
    background-color: #fff
    cursor: grab
    &:before
      content: ''
      display: block
      border: 0.125rem solid #a49359
      background-color: #fff
      width: 10px
      height: 10px
      border-radius: 50%
      position: absolute
      top: -1px
      left: -1px
    &:after
      display: none

.shop_section
  h1
    letter-spacing: 0.938rem

.about_us
  margin-top: 86px
  color: #000
  font-size: 1.125rem
  line-height: 36px
  text-align: center
  p
    margin-top: 36px
  img
    margin-top: 50px
aside .aside_container
  .sidebar_titles
    margin-top: 0
    width: 100%
  .garanty_head
    padding-top: 89px

.contacts
  padding-bottom: 70px
  margin-top: 48px
  text-align: center
  line-height: 33.39px
  .contacts_title
    font-size: 1.5rem
    font-weight: 500
    letter-spacing: 0.3rem
    margin-top: 31px
  .contacts_descr
    font-size: 1rem
    font-weight: 300
    letter-spacing: 0.2rem
    margin-top: 3px
    a
      display: block
  .contact_items
    font-size: 1.125rem
    letter-spacing: 0.225rem
    margin: 25px 0

.garanty, .fitting, .delivery, .cert, .returning, .care
  text-align: center
  color: #000
  font-size: 1.125rem
  line-height: 36px
  margin-top: 0
  h2
    font-size: 1.125rem
    line-height: 36px
    font-weight: 700
    margin-top: 70px
  h3
    font-size: 1.125rem
    line-height: 36px
    font-weight: 500
    margin-top: 0
  p
    margin-top: 36px
  img
    margin-top: 55px
    margin-bottom: 18px
.garanty
  margin-top: 52px

.shops
  padding: 16px 0 60px
  .shops_wrap
    @include grid-row()
  .one_shop
    @include grid-col(12 12 12 12 12 6)
    margin-top: 28px
    display: flex
    &:nth-child(2n-1)
      padding-left: 0
    &:nth-child(2n)
      padding-right: 0
    .img_block
      background-position: center center
      background-size: cover
      background-repeat: no-repeat
      width: 225px
      height: 220px
      flex-shrink: 0
  .content_block
    padding-left: 15px
    h3
      color: #d6af48
      font-size: 1.25rem
      font-weight: 500
      line-height: 20px
      text-transform: uppercase
      padding-top: 20px
  .contact_block
    color: #8c8c8c
    font-size: 1rem
    font-weight: 500
    line-height: 21px
    margin-top: 10px
    li
      margin-top: 21px
      &:first-child
        margin-top: 0