@import "vars"

@media screen and (max-width: 1499px)
  .top_head nav
    margin-left: 20px
  .top_head nav > ul > li
    margin-right: 15px
  .content_wrap .top_head nav > ul > li > ul
    font-size: 0.5rem
  .content_wrap .top_head nav > ul > li > ul > li > a:before
    height: 15px
    top: 8px
  .main_offers .main_offers_block_left
    max-width: 520px
    background-position: top right
  aside
    max-width: 280px
  .content_wrap
    max-width: 820px
    .container
      max-width: 820px
    .top_head nav
      margin-left: 40px
    .footer_center ul
      justify-content: space-around
      li
        margin-right: 0
  .one_product
    .one_product_details
      width: 50%
    h1
      font-size: 1rem
  .form
    form .input_wrap, .jq-selectbox, form .form_col
      max-width: 263px
      width: 100%
    .jq-selectbox
      margin: 0 auto
  .form_order form .form_wrap
    justify-content: space-between
    .form_col
      margin-right: 0
  .news .news_item
    .news_img
      width: 50%
    .news_body
      width: 50%
      padding: 0 20px
  .favourites_section
    .main_shop_block
      .main_shop_item_wrap
        &:last-child, &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4)
          border-bottom: 2px solid rgba(0, 0, 0, 0.06)
        &:nth-child(4n)
          .main_shop_item
            &:after
              display: block
        &:nth-child(3n), &:last-child
          .main_shop_item
            &:after
              display: none
  .top_head nav > ul > li > ul
    max-width: 1170px
    flex-wrap: wrap
    justify-content: center
    line-height: 20px
    li
      margin-right: 30px
      &:last-child
        margin-right: 0
  .top_head nav > ul > li > ul > li > a:before
    height: 15px
    top: 2px
  .bottom_head
    height: 42px
    margin-top: -3px
    margin-right: 0
  .shops
    .one_shop
      padding: 0
      &:nth-child(2n-1)
        padding-left: 0
      &:nth-child(2n)
        padding-right: 0

@media screen and (max-width: 1199px)
  .top_head
    .logo
      max-width: 128px
      margin-top: 35px
    .social_block
      display: none
    .log_reg_block
      margin-right: 0
    nav
      font-size: 0.875rem
  .main_shop .container
    max-width: 800px
  .main_shop_block
    .main_shop_item_wrap
      &:nth-child(4n)
        .main_shop_item:after
          display: block
      &:nth-child(3n)
        .main_shop_item:after
          display: none
      &:last-child, &:nth-last-child(2)
        display: none
      &:nth-last-child(5)
        border-bottom: none
  .main_offers
    .main_offers_block
      max-width: 795px
    .main_offers_block_right
      display: none
  .content_wrap
    max-width: 632px
    .container
      max-width: 632px
    .top_head
      .social_block
        display: none
      nav
        margin-left: 0
        width: 100%
        ul
          justify-content: space-between
          li
            margin-right: 0
      nav > ul > li > ul
        flex-wrap: wrap
        justify-content: center
        line-height: 15px
        li
          margin-right: 13px
          &:last-child
            margin-right: 0
      nav > ul > li > ul > li > a:before
        height: 12px
        top: 0
    .footer_top
      font-size: 0.8rem
  aside
    .logo
      max-width: 128px
      margin: 38px auto 0
  .one_product
    .img_wrap
      width: 300px
    h1
      font-size: 0.75rem
  .buisnes
    padding: 0 0 49px
  .form form
    justify-content: space-between
    .form_col
      margin-right: 0
  .news .news_item
    margin-top: 90px
  .basket_body .one_product_wrap .basket_delete
    margin: 40px 0 0
    display: block
  .favourites_section
    .main_shop_block
      .main_shop_item_wrap
        &:last-child, &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4), &:nth-last-child(5)
          border-bottom: 2px solid rgba(0, 0, 0, 0.06)
          display: block
        &:nth-child(3n)
          .main_shop_item
            &:after
              display: block
        &:nth-child(2n), &:last-child
          .main_shop_item
            &:after
              display: none

@media screen and (max-width: 969px)
  .top_head
    nav
      display: none
    .burger
      display: block
    .log_reg_block
      margin-top: 21px
  .bottom_head
    .input_wrap
      width: 275px
      height: 49px
      input[type="submit"], button, i
        top: 5px
  .main_slider_item
    height: 442px
    img
      max-width: 440px
    .main_slider_item_head
      margin-top: 35px
    .main_slider_item_body
      font-size: 3rem
      margin-top: 80px
  .main_shop .container
    max-width: 700px
  .main_shop_block
    .main_shop_item_wrap
      &:nth-child(3n)
        .main_shop_item:after
          display: block
      &:nth-child(2n)
        .main_shop_item:after
          display: none
      &:nth-last-child(3), &:nth-last-child(4)
        display: none
      &:nth-last-child(6)
        border-bottom: none
  .main_offers
    .main_offers_block
      display: block
      max-width: 450px
      height: auto
    .main_offers_block_left
      height: 300px
      margin-bottom: 20px
      .descr_block
        font-size: 0.875rem
        padding-right: 25px
      .descr_block_info
        padding-bottom: 15px
    .main_offers_block_center
      display: flex
      max-width: 450px
      flex-direction: row
    .main_offers_block_item
      width: 48%
      padding: 28px 10px 23px
      .img_wrap
        padding: 0 15px
  .footer_center ul
    justify-content: space-around
    li
      margin-right: 0
  aside
    display: none
  .content_wrap
    margin-left: 0
    max-width: 767px
    .container
      max-width: 767px
    .top_head .logo
      display: block
      padding-left: 0
      margin-top: 22px
      max-width: 166px
      width: 100%
  .watched
    padding: 33px 0 73px
    .watched_slider
      padding: 0 40px
      .slick-arrow
        &.back
          left: 0
        &.fwd
          right: 0
  .top_head.active .mobile_menu
    .log_reg_block, .search_wrap
      display: none
  .form
    form .input_wrap, .jq-selectbox, form .form_col
      max-width: 300px
  .favourites_section .main_shop_block
    .main_shop_item_wrap
      &:nth-last-child(6)
        border-bottom: 2px solid rgba(0, 0, 0, 0.06)
  .main_shop
    .main_shop_head
      display: flex
      align-items: center
      .sidebar_trigger
        display: block
        i
          color: #5b5b5b
          font-size: 1.875rem
          line-height: 36px

@media screen and (max-width: 768px)
  .top_head.active .mobile_menu
    .search_wrap
      display: flex
  .basket_fav_block, .to_top
    right: 15px
  .main_slider .slick-dots
    left: 15px
  .bottom_head .search_wrap
    display: none
  .content_wrap
    .container
      max-width: 576px
  .one_product .one_product_wrap
    display: block
    .img_wrap, .one_product_details
      width: 290px
      margin: 0 auto 0
    .one_product_details
      margin-top: 40px
  .footer_top ul
    flex-wrap: wrap
    text-align: center
    li
      width: 50%
  .form
    form .input_wrap, .jq-selectbox, form .form_col
      max-width: 264px
    form
      display: block
      .form_col
        margin: 0 auto
        &:last-child
          margin-right: auto
    .jq-selectbox
      margin-top: 25px
  .form_order form .form_wrap
    display: block
    .form_col
      margin-right: auto
    .order_summury
      padding-bottom: 15px
      margin: 40px auto 0
  .news .news_item
    display: block
    .news_img, .news_body
      width: 100%
      max-width: 370px
      margin: 20px auto 0
      padding: 0
  .mobile_heading
    display: block
    text-align: center
  .basket_body
    margin-top: 20px
    .order_block
      display: block
      .coupon
        max-width: 275px
        margin: 0 auto 0
        .input_wrap input
          font-size: 0.875rem
          &::placeholder
            font-size: 0.875rem
      .checkout_block
        margin: 30px auto 0
  .favourites_section
    padding-top: 40px
  .about_us
    margin-top: 30px

@media screen and (max-width: 576px)
  .content_wrap
    .container
      max-width: 480px
  .top_head
    .top_head_left
      display: none
    &.active .mobile_menu
      .log_reg_block, .search_wrap
        display: flex
  .main_slider_item .main_slider_item_body
    margin-top: 175px
  .main_shop_block
    .main_shop_item
      width: 275px
      &:first-child
        &:after
          display: none
    .main_shop_item_wrap
      &:nth-last-child(5), &:nth-last-child(6)
        display: none
      &:nth-child(2)
        border-bottom: none
  .footer_top
    font-size: 0.875rem
  .footer_center ul li i
    font-size: 1.125rem
  .form .jq-selectbox .jq-selectbox__dropdown ul
    max-width: 264px
  .favourites_section
    .main_shop_block
      .main_shop_item_wrap
        &:nth-child(3n)
          .main_shop_item
            &:after
              display: none
        &:nth-child(2)
          border-bottom: 2px solid rgba(0, 0, 0, 0.06)
  .main_shop h1
    font-size: 1.5rem
    line-height: 48px
  .shops .one_shop
    flex-direction: column
    align-items: center
    text-align: center

@media screen and (max-width: 480px)
  .content_wrap
    .container
      max-width: 320px
  .main_slider .slick-dots
    left: 10px
  .main_slider_item .main_slider_item_body
    font-size: 1.875rem
  .main_shop
    h1
      font-size: 1.5rem
    .filter_block
      display: flex
      justify-content: center
    .jq-selectbox
      margin: 30px auto 0
  .main_offers
    .main_offers_block_left .descr_block
      font-size: 0.625rem
      letter-spacing: 0.019rem
      padding-right: 4px
    .main_offers_block_center
      display: block
      .main_offers_block_item
        margin: 20px auto 0
        width: 219px
  .basket_fav_block
    right: 5px
    .circle_btn
      width: 55px
      height: 55px
  .to_top
    right: 5px
    width: 55px
    height: 55px
  .footer_top
    font-size: 0.8rem
  .watched
    .watched_slider_item
      margin: 0 5px
    .watched_slider
      padding: 0 25px
      .slick-list
        margin: 0 -5px
  .main_shop h1
    font-size: 1.125rem
    letter-spacing: 0.563rem
  .contacts .contact_items
    font-size: 1rem