/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/FontAwesome.eot');
  src: url('#{$fa-font-path}/FontAwesome.eot') format('embedded-opentype'),
    url('#{$fa-font-path}/FontAwesome.woff') format('woff'),
    url('#{$fa-font-path}/FontAwesome.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
