$grid: (
  breakpoints: (
    xxs: 0px,
    xs: 576px,
    sm: 768px,
    md: 970px,
    lg: 1200px,
    xl: 1500px
  ),
  columns: 12,
  gap: 15px,
  container: 15px,
  box-sizing: border-box,
  mode: flex
);