<footer>
  <div class="container">
    <div class="footer_top">
      <ul>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Магазин</a></li>
        <li><a href="#">каталог</a></li>
        <li><a href="#">информация</a></li>
        <li><a href="#">новости и акции</a></li>
        <li><a href="#">бизнесу</a></li>
      </ul>
    </div>

    <div class="footer_center">
      <ul>
        <li><a href="#" target="_blank">
          <i class="fa fa-vk" aria-hidden="true"></i>
        </a></li>
        <li><a href="#" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a></li>
        <li><a href="#" target="_blank">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a></li>
        <li><a href="#" target="_blank">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a></li>
      </ul>
    </div>

    <div class="footer_bottom">2018 / Все права защищены</div>
  </div>
</footer>

<div class="basket_fav_block">

  <a href="#" class="circle_btn">
    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
    <span class="quantity_circle">15</span>
  </a>

  <a href="#" class="circle_btn">
    <i class="fa fa-heart" aria-hidden="true"></i>
  </a>

</div>

<div id="toTop" class="circle_btn to_top">
  <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>

<div id="login_popup" class="mfp-hide popup_window">
  <div class="popup_head">ВХОД</div>
  <form id="log_form">
    <div class="input_wrap">
      <input type="email" id="log_email" name="log_email" placeholder="Email">
    </div>
    <div class="input_wrap">
      <input type="password" id="log_pass" name="log_pass" placeholder="Пароль">
    </div>

    <button type="submit" id="log_submit" class="button">Вход</button>

  </form>
</div>

<div id="register_popup" class="mfp-hide popup_window">
  <div class="popup_head">Регистрация</div>
  <form id="reg_form">
    <div class="input_wrap">
      <input type="text" id="sername" name="sername" placeholder="Фамилия">
    </div>
    <div class="input_wrap">
      <input type="text" id="name" name="name" placeholder="Имя">
    </div>
    <div class="input_wrap">
      <input type="text" id="city" name="city" placeholder="Город">
    </div>
    <div class="input_wrap">
      <input type="email" id="email" name="email" placeholder="Email">
    </div>
    <div class="input_wrap">
      <input type="password" id="pass" name="pass" placeholder="Пароль (мин. 6 символов)">
    </div>
    <div class="input_wrap">
      <input type="password" id="repass" name="repass" placeholder="Повторите пароль">
    </div>
    <div class="input_wrap">
      <input type="tel" id="tel" name="tel" placeholder="Мобильный телефон">
    </div>

    <button type="submit" id="reg_submit" class="button">Регистрация</button>

  </form>
</div>