<footer>

  <div class="footer_top">
    <ul>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Магазин</a></li>
      <li><a href="#">каталог</a></li>
      <li><a href="#">информация</a></li>
      <li><a href="#">новости и акции</a></li>
      <li><a href="#">бизнесу</a></li>
    </ul>
  </div>

  <div class="footer_center">
    <ul>
      <li><a href="#" target="_blank">
        <i class="fa fa-vk" aria-hidden="true"></i>
      </a></li>
      <li><a href="#" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a></li>
      <li><a href="#" target="_blank">
        <i class="fa fa-youtube" aria-hidden="true"></i>
      </a></li>
      <li><a href="#" target="_blank">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a></li>
    </ul>
  </div>

  <div class="footer_bottom">2018 / Все права защищены</div>

</footer>