<header>
  <div class="top_head">

    <a href="#" class="logo">
      <img src="img/logo.svg" alt="Equip">
    </a>

    <nav>
      <ul>
        <li><a href="#">Контакты</a></li>
        <li class="menu-item-has-children">
          <a href="#">магазин</a>
          <ul>
            <li><a href="#">anna maria chagnon</a></li>
            <li><a href="#">dyrberg/kern</a></li>
            <li><a href="#">dyrberg/kern compliments</a></li>
            <li><a href="#">dyrberg/kern icons</a></li>
            <li><a href="#">franck herval</a></li>
            <li><a href="#">nature bijoux</a></li>
            <li><a href="#">ori-tao</a></li>
            <li><a href="#">pilgrin</a></li>
            <li><a href="#">pinta</a></li>
            <li><a href="#">zsiska</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="#">информация</a>
          <ul>
            <li><a href="#">гарантия качества</a></li>
            <li><a href="#">бесплатная примерка</a></li>
            <li><a href="#">доставка и оплата</a></li>
            <li><a href="#">подарочный сертификат</a></li>
            <li><a href="#">возврат товара</a></li>
            <li><a href="#">уход за бижутерией</a></li>
          </ul>
        </li>
        <li><a href="#">новости и акции</a></li>
        <li><a href="#">бизнесу</a></li>
      </ul>
    </nav>

    <div class="top_head_left">
      <div class="log_reg_block">
        <a href="#login_popup" class="btn js_popup">ВХОД</a>
        <a href="#register_popup" class="btn js_popup">РЕГИСТРАЦИЯ</a>
      </div>
      <ul class="social_block">
        <li><a href="#" target="_blank">
          <i class="fa fa-vk" aria-hidden="true"></i>
        </a></li>
        <li><a href="#" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a></li>
        <li><a href="#" target="_blank">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a></li>
        <li><a href="#" target="_blank">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a></li>
      </ul>
    </div>

    <div class="burger">
      <i class="fa fa-align-right js_mobile_menu" aria-hidden="true"></i>
    </div>

    <div class="mobile_menu">
      <i class="fa fa-align-left js_mobile_menu" aria-hidden="true"></i>
      <nav>
        <ul>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">магазин</a></li>
          <li><a href="#">информация</a></li>
          <li><a href="#">новости и акции</a></li>
          <li><a href="#">бизнесу</a></li>
        </ul>
      </nav>
      <form class="search_wrap">
        <div class="input_wrap">
          <input type="text" placeholder="Поиск">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="submit">
        </div>
      </form>
    </div>

  </div>

  <div class="bottom_head">
    <div class="container">
      <form class="search_wrap">
        <div class="input_wrap">
          <input type="text" placeholder="Поиск">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="submit">
        </div>
      </form>
    </div>
  </div>

</header>