//= template/header-main.html

<main>
  <section class="main_slider">
    <div class="js_main_slider">

      <a href="#" class="main_slider_item"
         style="background-image: url('img/main-slider-bg.jpg')">
        <div class="main_slider_item_head">ZSISKa</div>
        <div class="offer_block">
          <div class="main_slider_item_body">Autumn Collection</div>
          <object>
            <a href="#" class="button">В МАГАЗИН</a>
          </object>
        </div>
        <img src="img/first-sld-1.png" class="slide_bg_img" alt="">
      </a>

      <a href="#" class="main_slider_item"
         style="background-image: url('img/main-slider-bg.jpg')">
        <div class="main_slider_item_head">ZSISKa</div>
        <div class="offer_block">
          <div class="main_slider_item_body">Autumn Collection</div>
          <object>
            <a href="#" class="button">В МАГАЗИН</a>
          </object>
        </div>
        <img src="img/first-sld-1.png" class="slide_bg_img" alt="">
      </a>

      <a href="#" class="main_slider_item"
         style="background-image: url('img/main-slider-bg.jpg')">
        <div class="main_slider_item_head">ZSISKa</div>
        <div class="offer_block">
          <div class="main_slider_item_body">Autumn Collection</div>
          <object>
            <a href="#" class="button">В МАГАЗИН</a>
          </object>
        </div>
        <img src="img/first-sld-1.png" class="slide_bg_img" alt="">
      </a>

      <a href="#" class="main_slider_item"
         style="background-image: url('img/main-slider-bg.jpg')">
        <div class="main_slider_item_head">ZSISKa</div>
        <div class="offer_block">
          <div class="main_slider_item_body">Autumn Collection</div>
          <object>
            <a href="#" class="button">В МАГАЗИН</a>
          </object>
        </div>
        <img src="img/first-sld-1.png" class="slide_bg_img" alt="">
      </a>

      <a href="#" class="main_slider_item"
         style="background-image: url('img/main-slider-bg.jpg')">
        <div class="main_slider_item_head">ZSISKa</div>
        <div class="offer_block">
          <div class="main_slider_item_body">Autumn Collection</div>
          <object>
            <a href="#" class="button">В МАГАЗИН</a>
          </object>
        </div>
        <img src="img/first-sld-1.png" class="slide_bg_img" alt="">
      </a>

    </div>
  </section>

  <section class="main_shop">
    <div class="container">
      <h1>Бижутерия</h1>
      <div class="main_shop_subhead">Наш магазин дизайнерской бижутерии представляет широкий ассортимент украшений от
        самых известных европейских производителей. Купить недорогую ювелирную бижутерию оптом и в розницу в
        интернет-магазине можно прямо сейчас. Звоните и заказывайте.
      </div>

      <div class="filter_block">
        <select class="js_input">
          <option value="Новинки">Новинки</option>
          <option value="Прошлая коллекция">Прошлая коллекция</option>
          <option value="Прошлая коллекция">Скидки</option>
        </select>
      </div>

      <div class="main_shop_block">
        <div class="main_shop_item_wrap">
          <div class="main_shop_item">
            <div class="fav_btn_block">
              <input type="checkbox" class="js_input" checked>
            </div>
            <a href="#" class="img_block">
              <img src="img/item-1.png" alt="">
            </a>
            <a href="#" class="main_shop_item_head">КОЛЬЦО КОЛЛЕКЦИЯ STELLA
              МОДЕЛЬ STARAY
            </a>
            <div class="main_shop_item_price"><span>₽</span> 9 550</div>
            <div class="hidden_block">
              <div class="color_block">
                <input type="radio" name="color_$item_id_1" value="black" style="background-color: #2f2f2f"
                       class="js_input">
                <input type="radio" name="color_$item_id_1" value="ivory" style="background-color: #f3eee2"
                       class="js_input" checked>
                <input type="radio" name="color_$item_id_1" value="flesh" style="background-color: #d3bea0"
                       class="js_input">
              </div>
              <a href="#" class="buy_btn">Купить</a>
            </div>
          </div>
        </div>

        <div class="main_shop_item_wrap">
          <div class="main_shop_item">
            <div class="fav_btn_block">
              <input type="checkbox" class="js_input">
            </div>
            <a href="#" class="img_block">
              <img src="img/item-2.png" alt="">
            </a>
            <a href="#" class="main_shop_item_head">КОЛЬЦО КОЛЛЕКЦИЯ STELLA
              МОДЕЛЬ STARAY
            </a>
            <div class="main_shop_item_price"><span>₽</span> 9 550</div>
            <div class="hidden_block">
              <div class="color_block">
                <input type="radio" name="color_$item_id_2" value="black" style="background-color: #2f2f2f"
                       class="js_input">
                <input type="radio" name="color_$item_id_2" value="ivory" style="background-color: #f3eee2"
                       class="js_input">
                <input type="radio" name="color_$item_id_2" value="flesh" style="background-color: #d3bea0"
                       class="js_input" checked>
              </div>
              <a href="#" class="buy_btn">Купить</a>
            </div>
          </div>
        </div>

        <div class="main_shop_item_wrap">
          <div class="main_shop_item">
            <div class="fav_btn_block">
              <input type="checkbox" class="js_input">
            </div>
            <a href="#" class="img_block">
              <img src="img/item-3.png" alt="">
            </a>
            <a href="#" class="main_shop_item_head">КОЛЬЦО КОЛЛЕКЦИЯ STELLA
              МОДЕЛЬ STARAY
            </a>
            <div class="main_shop_item_price"><span>₽</span> 9 550</div>
            <div class="hidden_block">
              <div class="color_block">
                <input type="radio" name="color_$item_id_3" value="black" style="background-color: #2f2f2f"
                       class="js_input">
                <input type="radio" name="color_$item_id_3" value="ivory" style="background-color: #f3eee2"
                       class="js_input" checked>
                <input type="radio" name="color_$item_id_3" value="flesh" style="background-color: #d3bea0"
                       class="js_input">
              </div>
              <a href="#" class="buy_btn">Купить</a>
            </div>
          </div>
        </div>

        <div class="main_shop_item_wrap">
          <div class="main_shop_item">
            <div class="fav_btn_block">
              <input type="checkbox" class="js_input">
            </div>
            <a href="#" class="img_block">
              <img src="img/item-4.png" alt="">
            </a>
            <a href="#" class="main_shop_item_head">КОЛЬЦО КОЛЛЕКЦИЯ STELLA
              МОДЕЛЬ STARAY
            </a>
            <div class="main_shop_item_price"><span>₽</span> 9 550</div>
            <div class="hidden_block">
              <div class="color_block">
                <input type="radio" name="color_$item_id_4" value="black" style="background-color: #2f2f2f"
                       class="js_input" checked>
                <input type="radio" name="color_$item_id_4" value="ivory" style="background-color: #f3eee2"
                       class="js_input">
                <input type="radio" name="color_$item_id_4" value="flesh" style="background-color: #d3bea0"
                       class="js_input">
              </div>
              <a href="#" class="buy_btn">Купить</a>
            </div>
          </div>
        </div>

        <div class="main_shop_item_wrap">
          <div class="main_shop_item">
            <div class="fav_btn_block">
              <input type="checkbox" class="js_input">
            </div>
            <a href="#" class="img_block">
              <img src="img/item-5.png" alt="">
            </a>
            <a href="#" class="main_shop_item_head">КОЛЬЦО КОЛЛЕКЦИЯ STELLA
              МОДЕЛЬ STARAY
            </a>
            <div class="main_shop_item_price"><span>₽</span> 9 550</div>
            <div class="hidden_block">
              <div class="color_block">
                <input type="radio" name="color_$item_id_5" value="black" style="background-color: #2f2f2f"
                       class="js_input">
                <input type="radio" name="color_$item_id_5" value="ivory" style="background-color: #f3eee2"
                       class="js_input" checked>
                <input type="radio" name="color_$item_id_5" value="flesh" style="background-color: #d3bea0"
                       class="js_input">
              </div>
              <a href="#" class="buy_btn">Купить</a>
            </div>
          </div>
        </div>

        <div class="main_shop_item_wrap">
          <div class="main_shop_item">
            <div class="fav_btn_block">
              <input type="checkbox" class="js_input">
            </div>
            <a href="#" class="img_block">
              <img src="img/item-6.png" alt="">
            </a>
            <a href="#" class="main_shop_item_head">КОЛЬЦО КОЛЛЕКЦИЯ STELLA
              МОДЕЛЬ STARAY
            </a>
            <div class="main_shop_item_price"><span>₽</span> 9 550</div>
            <div class="hidden_block">
              <div class="color_block">
                <input type="radio" name="color_$item_id_6" value="black" style="background-color: #2f2f2f"
                       class="js_input">
                <input type="radio" name="color_$item_id_6" value="ivory" style="background-color: #f3eee2"
                       class="js_input">
                <input type="radio" name="color_$item_id_6" value="flesh" style="background-color: #d3bea0"
                       class="js_input" checked>
              </div>
              <a href="#" class="buy_btn">Купить</a>
            </div>
          </div>
        </div>

        <div class="main_shop_item_wrap">
          <div class="main_shop_item">
            <div class="fav_btn_block">
              <input type="checkbox" class="js_input">
            </div>
            <a href="#" class="img_block">
              <img src="img/item-7.png" alt="">
            </a>
            <a href="#" class="main_shop_item_head">КОЛЬЦО КОЛЛЕКЦИЯ STELLA
              МОДЕЛЬ STARAY
            </a>
            <div class="main_shop_item_price"><span>₽</span> 9 550</div>
            <div class="hidden_block">
              <div class="color_block">
                <input type="radio" name="color_$item_id_7" value="black" style="background-color: #2f2f2f"
                       class="js_input">
                <input type="radio" name="color_$item_id_7" value="ivory" style="background-color: #f3eee2"
                       class="js_input" checked>
                <input type="radio" name="color_$item_id_7" value="flesh" style="background-color: #d3bea0"
                       class="js_input">
              </div>
              <a href="#" class="buy_btn">Купить</a>
            </div>
          </div>
        </div>

        <div class="main_shop_item_wrap">
          <div class="main_shop_item">
            <div class="fav_btn_block">
              <input type="checkbox" class="js_input">
            </div>
            <a href="#" class="img_block">
              <img src="img/item-8.png" alt="">
            </a>
            <a href="#" class="main_shop_item_head">КОЛЬЦО КОЛЛЕКЦИЯ STELLA
              МОДЕЛЬ STARAY
            </a>
            <div class="main_shop_item_price"><span>₽</span> 9 550</div>
            <div class="hidden_block">
              <div class="color_block">
                <input type="radio" name="color_$item_id_8" value="black" class="js_input"
                       style="background-color: #2f2f2f" checked>
                <input type="radio" name="color_$item_id_8" value="ivory" class="js_input"
                       style="background-color: #f3eee2">
                <input type="radio" name="color_$item_id_8" value="flesh" class="js_input"
                       style="background-color: #d3bea0">
              </div>
              <a href="#" class="buy_btn">Купить</a>
            </div>
          </div>
        </div>

      </div>

      <a href="#" class="buy_btn shop_buy_btn">Перейти в магазин</a>
    </div>
  </section>

  <section class="main_offers">
    <div class="container">
      <div class="main_offers_wrap">
        <div class="main_offers_block">
          <a href="#" class="main_offers_block_left" style="background-image: url('img/main-offers-1.png')">
            <div class="descr_block">
              Весна - еще ярче с нашими новыми коллекциями!
              <ul class="descr_block_info">
                <li>
                  <img src="img/eye.svg" alt="">
                  3,4K
                </li>
                <li>
                  <img src="img/bubble.svg" alt="">
                  21
                </li>
                <li>
                  <img src="img/heart.svg" alt="">
                  854
                </li>
              </ul>
            </div>
          </a>
          <div class="main_offers_block_center">
            <a href="#" class="main_offers_block_item">
              <span class="img_wrap">
                <img src="img/icons8-news-50.png" alt="">
              </span>
              <span class="main_offers_block_item_head">
                Все
                <b>Новости</b>
              </span>
            </a>
            <a href="#" class="main_offers_block_item">
              <span class="img_wrap">
                <img src="img/icons8-necklace-50.png" alt="">
              </span>
              <span class="main_offers_block_item_head">
                Все
                <b>Коллекции</b>
              </span>
            </a>
          </div>
          <a href="#" class="main_offers_block_right" style="background-image: url('img/main-offers-2.png')">
            <span class="main_offers_block_right_head">ZSISKA</span>
            <span class="main_offers_block_right_body">Autumn</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

//= template/footer-main.html

<script src="js/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.formstyler.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>